@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    color: #222831;
    background-color: #EEEEEE;
}

/* header top & social links */

#header-top {
    position: relative;
    align-items: center;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #00ADB5;
}

#social {
    display: inline-block;
}

#social li {
    list-style-type: none;
    margin-right: 20px;
    display: inline-block;
}

#social i {
    font-size: 120%;
    margin: 1%;
    padding: 5%;
    color: #00ADB5;
}

/* logo and headings */

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #00ADB5;
}

#logo {
    font-family: Poppins, sans-serif;
    float: left;
    text-transform: uppercase;
    font-size: 300%;
    margin-left: 20px;
    color: #00ADB5;
    letter-spacing: 2px;
}

/* navigation links */

#menu {
    font-size: 120%;
    letter-spacing: 4px;
    float: right;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 20px;
}
