@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    color: #222831;
    background-color: white;
}

/* header top & social links */

#header-top {
    position: relative;
    align-items: center;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #00ADB5;
    background-color: white;
}

#social {
    float: right;
}

#social li {
    list-style-type: none;
    display: inline-block;
    margin-right: 22px;
    margin-top: 10px;
    vertical-align: middle;
}

#social i {
    font-size: 120%;
    color: #00ADB5;
}

#social i:hover {
    opacity: 0.7;
}

/* logo and headings */

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #00ADB5;
}

#logo {
    font-family: Poppins, sans-serif;
    float: left;
    text-transform: uppercase;
    font-size: 300%;
    margin-left: 20px;
    color: #00ADB5;
    letter-spacing: 2px;
}

/* navigation links */

#menu {
    font-size: 120%;
    letter-spacing: 3px;
    float: right;
    vertical-align: middle;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 20px;
    margin-top: 5px;
    vertical-align: middle;
}

menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border: 1px solid #00ADB5;
}

#menu a:hover, menu a:active {
    color: #00ADB5;
}

/* Hero Images */

#home-hero-outer {
    height: 650px;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    position: relative;
}

#hero-image {
    height: inherit;
    width: 100%;
    background: url('../images/Hero\ Image\ 1.jpg') no-repeat center center;


/* animates zoom effect on hero image */

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for the hero image */

@keyframes hero-zoom {
    from{
        transform: scale(0.8);
    }
    to {
        transform: scale (1.1);
    }
}

/* Hero Cover Text & Button */

#hero-cover-text {
    font-size: 130%;
    font-family: Poppins, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(34, 40, 49, 0.7);

    bottom: 30px;
    right: 150px;

    position: absolute;

    animation-name: cover-text;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for the text panel on hero image */

@keyframes cover-text {
    from{
        transform: scale(0.8);
    }
    to {
        transform: scale (1.1);
    }
}


.hero-button {
    background-color: #00ADB5;
    border: none;
    color: #222831;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 130%;
    margin: 4px 2px;
    cursor: pointer;
}